[Desktop Entry]
Type=Application
Exec=touchegg
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=false
X-KDE-autostart-after=panel
X-XFCE-Autostart-enabled=true
Name=Touchegg
Comment=Multitouch gesture daemon

